$bodyBg: #fff;
$fontColor: #333;
$bodyFontSize: 12px;

$headerHeight: 95px;
$headerBg: #35a7db;
$headerPadding: 20px;

$borderRadius: 4px;
$borderColor: rgba(136, 136, 136, 0.5);
$formulaWidth: 40px;
$formulaHeight: 25px;

$cellWidth: 150px;
$cellHeight: 25px;
$cellPadding: 4px;
$tableFontSize: 21px;
$cellBorderRadius: 2px;

$dbHeaderTitle: 36px;
$dbTableBg: rgba(0, 0, 0, 0.5);
$dbNewFontSize: 24px;

$iconsSize: 32px;
$formulaSize: 18px;

$btn: #00a300;
$btnHover: rgba(#00a300, 0.5);
$btnActive: rgba(#00a300, 0.25);

$toolbarBg: #eee;
$toolbarPadding: 10px;
